@page
@model BookMarket.Pages.MyBooksModel
@{
    ViewData["Title"] = "Libri caricati";
}

<!--Top Bar-->
<header>
    <div class="header-container">
        <!--Back button-->
        <a class="fas fa-chevron-left header-backbutton" onclick="window.location.href = 'dashboard'"></a>
        <!--Title-->
        <span class="header-title-label">I tuoi libri</span>
    </div>

    <!--Separator-->
    <div class="header-separator"></div>
</header>

<!--List-->
<ul id="list" style="padding:0px">
    <partial name="_BasketList" model="Model.Books" itemid="list" />
</ul>

<!--Fake form to delete book from basket-->
<form method="post" style="display:none">
    <input asp-for="@Model.ToDeleteBook" id="bookToDeleteId" />
</form>

<style>
    body {
        margin-bottom: 100px !important;
    }
</style>