@page
@model BookMarket.Pages.Admin.LoginModel
@{
}

<h1>
    @Model.Message
</h1>
    <form method="post">
        <input type="password" placeholder="Password" asp-for="@Model.Password" />
        <button type="submit">Accedi</button>
    </form>
